@import "@fontsource/montserrat";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 210 5% 38%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 17% 95%;
    --popover-foreground: 210 5% 28%;
    --card: 210 17% 96%;
    --card-foreground: 210 5% 33%;
    --border: 210 7% 93%;
    --input: 210 7% 90%;
    --primary: 35 100% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 35 30% 25%;
    --secondary-foreground: 35 30% 85%;
    --accent: 210 17% 83%;
    --accent-foreground: 210 17% 23%;
    --destructive: 5 83% 33%;
    --destructive-foreground: 5 83% 93%;
    --ring: 35 100% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 29% 6%;
    --foreground: 47 7% 73%;
    --muted: 220 12% 15%;
    --muted-foreground: 220 12% 65%;
    --popover: 220 29% 3%;
    --popover-foreground: 47 7% 83%;
    --card: 220 29% 4%;
    --card-foreground: 47 7% 78%;
    --border: 220 19% 11%;
    --input: 220 19% 14%;
    --primary: 40 75% 61%;
    --primary-foreground: 40 75% 1%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 220 29% 21%;
    --accent-foreground: 220 29% 81%;
    --destructive: 2 90% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 75% 61%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
